NEXT_PUBLIC_APP_URL=http://localhost:3000
SHORTENER_COUNTER_START=1000

NEXT_PUBLIC_FIREBASE_API_KEY=local-api-key
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=local.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=local-project
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=local.appspot.com
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=0000000000
NEXT_PUBLIC_FIREBASE_APP_ID=1:0000000000:web:local
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-LOCAL0000

FIREBASE_PROJECT_ID=local-project
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-local@local-project.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nLOCAL\n-----END PRIVATE KEY-----\n"

CORS_ALLOWED_ORIGINS=http://localhost:3000

MYSQL_HOST=localhost
MYSQL_USER=root
MYSQL_PASSWORD=your_password
MYSQL_DATABASE=url_shortener
MYSQL_PORT=3306
